<mat-toolbar color="primary">Home claim system</mat-toolbar>

<div class="jumbotron">
  <div class="container">

    <form name='form' [formGroup]="claimForm" (ngSubmit)="PostClaim(claimForm)">
      <input type="hidden" name="id" formControlName="id">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            Claim Type : 
            <mat-radio-group formControlName="claimType" placeholder="Loss type" name="claimType" required>
              <mat-radio-button value="1">ISO designated CAT</mat-radio-button>
              <mat-radio-button value="2">Medical</mat-radio-button>
              <mat-radio-button value="3">All other</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input name="policyNumber" matInput placeholder="Policy Number" formControlName="policyNumber" required>
              <mat-error *ngIf="policyNumber.errors?.required">
                Policy Number is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input name="claimTitle" matInput placeholder="Claim Title" formControlName="claimTitle" required>
              <mat-error *ngIf="claimTitle.errors?.required">
                Claim Title is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Claim reason" name="claimReasons" formControlName="claimReasons" required>
                    <mat-option *ngFor="let claimReason of claimReasons" [value]="claimReason.value">
                        {{claimReason.viewValue}}
                      </mat-option>
                  </mat-select>
              <mat-error *ngIf="claimReason.errors?.required">
                Claim Reason is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input name="claimAmount" matInput placeholder="Claim Contact" formControlName="claimAmount" required>
              <mat-error *ngIf="claimAmount.errors?.required">
                Claim Amount is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input name="insured" matInput placeholder="Insured" formControlName="insured" required>
              <mat-error *ngIf="insured.errors?.required">
                Insured is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <textarea name="locationAddress" matInput placeholder="Location address" formControlName="locationAddress"
                required></textarea>
              <mat-error *ngIf="locationAddress.errors?.required">
                Location address is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field>
                <input matInput [matDatepicker]="lossDatePicker" placeholder="Loss date" formControlName="lossDatePicker"
                required>
                <mat-datepicker-toggle matSuffix [for]="lossDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #lossDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field>
                <input matInput [matDatepicker]="claimDatePicker" placeholder="Claim date" formControlName="claimDatePicker"
                required>
                <mat-datepicker-toggle matSuffix [for]="claimDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #claimDatePicker></mat-datepicker>

            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input name="producer" matInput placeholder="Producer" formControlName="producer" required>
              <mat-error *ngIf="producer.errors?.required">
                Producer is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="btn btn-secondary" type="file" name="file" formControlName="file" type="file" (change)="fileEvent($event)" />
            </div>
          </div>
      </div>
    
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <button mat-raised-button color="primary" [disabled]="claimForm.invalid" type="submit">Submit claim</button>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input class="btn btn-secondary" type="reset" value="Reset" />
          </div>
        </div>
      </div>
    </form>
    <div class="alert alert-danger errormessage" *ngIf="submitMessage">{{ submitMessage }}</div>
  </div>
</div>
<div class="container">
    <footer>&copy; Copyright 2019 Cognizant</footer>
</div>
<router-outlet></router-outlet>